{%load static%}
<html>
<div class="topnav">
<a href="/">GO HOME</a>  |  <a href="/pc_blog">GO TO PAGE</a> | <a href="#">CHAT ROOM</a>
</div>
<center>
<p>CHAT US ON WHATSAPP</p>
<a aria-label="Chat on WhatsApp" href="https://wa.me/07065071551"> <img alt="Chat on WhatsApp" src="{%static 'whatsap2.jpeg'%}" height="80" width="80"/>
</a><br>
</center>
<link rel="stylesheet" href="{%static 'global.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
 <style>
body {
  background-image: url({%static 'lightblue.jpeg'%});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style> 

<meta name="viewport" content="width=device-width, scale=1.0">
<title>welcome</title>
</head>



<body>
<center>
<div class="topnav">
<h1>Welcome To Oka-Tech Computer Online Store</h1>
</div>
<style>
img {
  border-radius: 100%;
}
</style>
<center><img src="{%static 'laptop.jpeg'%}" alt="Avatar" style="width:200px"></center>


<h2>Here are the list of services we offer:</h2>
<div class="mycard">
<ul>
<li><p>Sales of laptop computers and accessories</p></li>
<li><p>We buy laptop computers and computer accessories</p></li>
<li><p>Softwares and web application development</p></li>
<li><p>Repairs of laptop computers</p></li>
<li><p>Networking of computers</p></li>
</div>
<div class="topnav">
<a href="/pc_blog">CHECK AVAILABLE LAPTOP</a>

</ul>
</div>
{%include 'foot.html'%}

</center><br><br><br>

</body>
</html>
